<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A Small Recap</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2018</h4>
                                    <h4 class="subheading">Milan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our founder Stelios becomes a friend with George Beridze whose family runs Mondo Coffee while studying Economics at Bocconi University. After constant debates about coffee blends and brands Stelios saw the difference Mondo was making in the coffee industry.</p>
                                </div>r 
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> Octomber 2019</h4>
                                    <h4 class="subheading">From an idea to paper</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Stelios believes that there is an opening in Greece's market and puts together a passionate team of entrepreneurs in order to revolutionise B2B distribution and coffee wholesale!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 8th 2020</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">K.A.S. Private Company is founded and ready to fully accommodate every client!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
